.btn1{
    padding: 12px 35px;
    color: #ffffff;
    border: 1px solid #ffffff;
border-radius: 30px;
    font-size: 14px;
    text-decoration: none;
    background-image:linear-gradient(to top, rgba(246, 46, 113, 0.9) 0%, rgba(249, 171, 114, 1) 100%);
    margin-left: 550px;

}


div.move:hover svg{
    transform: translate(10px);
    transition: .3s ease-in;
    color: #ffffff;
}